.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s ease;
    &::after {
        width: 100%;
        height: 100%;
        content: "";
        z-index: 1001;
        position: absolute;
        top: 0;
        left: 0;
    }
    &.fixed,
    &.mobileFixed {
        background-color: #20aaa5;
        box-shadow: 0 0 2px;
        .header__flex {
            height: 50px;
        }
        .header__logo-b {
            color: #fff;
        }
        .header__nav {
            border-bottom: none;
            @media (max-width: $media-big-tb) {
                top: 50px;
            }
        }
        .header__link {
            position: relative;
            top: 0;
            &.active {
                background: #fff;
                color: #10c7c1;
            }
            @media (min-width: $media-big-tb) {
                &:hover {
                    background: #fff;
                    box-shadow: 0 0 2px #fff;
                    color: #10c7c1;
                }
            }
        }
        &::after {
            background-color: #20aaa5;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        transition: all 0.5s ease;
        @media (max-width: $media-mb) {
            padding: 0 5px;
        }
    }

    &__logo {
        @include adaptive-font(24, 16);
        color: #fff;
        display: flex;
        align-items: center;
        font-family: "Comic-Sans", sans-serif;
        transition: all 0.6s ease;
        position: relative;
        z-index: 1002;
        @media (min-width: $media-big-tb) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__logo-b {
        @include adaptive-font(32, 24);
        color: #10c7c1;
        margin-left: 5px;
        transition: all 0.5s ease;
    }

    &__burger {
        @media (min-width: $media-big-tb) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        height: 100%;
        align-items: center;
        border-bottom: 1px solid rgba(221, 221, 221, 0.315);
        transition: all 0.5s ease;
        & li {
            height: 100%;
            &:last-child,
            &:first-child {
                & a {
                    padding: 0 10px;
                }
            }
        }
        @media (min-width: $media-big-tb) {
            z-index: 1002;
        }
        @media (max-width: $media-big-tb) {
            position: absolute;
            top: 80px;
            left: 0;
            flex-direction: column;
            border: none;
            width: 100%;
            height: auto;
            background-color: #444444;
            transform: translateY(-150%);
            transition: all 0.5s ease;
            box-shadow: 0 2px 2px #333;
            &.active {
                transform: translateY(0);
            }
            & li {
                width: 100%;
                & a {
                    padding: 10px 0;
                }
                &:last-child,
                &:first-child {
                    & a {
                        padding: 10px 0;
                    }
                }
            }
        }
        @media (max-height: 350px) {
            & li {
                & a {
                    padding: 5px 0;
                }
                &:last-child,
                &:first-child {
                    & a {
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    &__link {
        @include adaptive-font(22, 18);
        color: #fff;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        transition: all 0.5s ease;
        &.active {
            background: linear-gradient(to top right, #10c7c1c5, #14cece9d);
        }
        @media (min-width: $media-big-tb) {
            &:hover {
                background: linear-gradient(to top right, #10c7c1c5, #14cece9d);
                box-shadow: 0 0 2px #fff;
            }
        }
    }
}

.burger {
    background-color: transparent;
    border: none;
    outline: none;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1002;
    cursor: pointer;
    &__item {
        font-size: 0;
        color: transparent;
        position: relative;
        width: 40px;
        height: 3px;
        background-color: #fff;
        transition: all 0.2s ease;
        &::before,
        &::after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            right: 0px;
            transition: all 0.2s ease;
        }
        &::before {
            top: -10px;
        }
        &::after {
            top: 10px;
        }
    }
    &.active {
        .burger__item {
            background-color: transparent;
            &::before {
                transform: rotate(45deg) translate3d(0, -6px, 0);
                transform-origin: left top;
            }
            &::after {
                transform: rotate(-45deg) translate3d(1px, 6px, 0);
                transform-origin: left bottom;
            }
        }
    }
}
